html{
    font-size: 62.5%;
}

body{
    font-size: 1.8rem;
}

.container , .content :not(.button){
    opacity: 0.5;
}

.content{
   text-align: center;
}

.video {
    display: block;
    margin: 0 auto;
    width: 700px;
    height: 400px;
    object-fit: none;
    user-select: none;
}

h1{
    font-size: 4rem;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 0;
}

h2{
    margin: 0;
}

.button{
    background: rgb(3, 158, 3);
    border-radius: 5px;
    border: 2px solid rgb(3, 158, 3);
    color: #fff;
    display: inline-block;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
}

.button:hover{
    background: #fff;
    color: rgb(3, 158, 3); 
}

@media screen and (max-width: 768px) {
    .video{
        width: 100%;
    } 
    
    p{
        margin-top: 0;
    }
    h1{
        font-size: 3.5rem;
    }
}

